{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "linebreak-style": 0,
    "no-new": 0,
    "max-len": 0,
    "arrowParens": "as-needed"
  }
}