<button class="burger" aria-label="Бургер">
  <span class="burger__item burger__item--start"></span>
  <span class="burger__item burger__item--middle"></span>
  <span class="burger__item burger__item--end"></span>
</button>