:root {
  // colors
  --dark-ebony: #441d06;
  --black: #000;
  --orange-peel: #f90;
  --kilamanjaro: #2b1001;
  --bridal-heath: #fff9ef;
  --white: #fff;
  --silver-chalice: #a2a2a2;

  // containers
  --container-width: 100rem;
  --container-padding: 0.9375rem;

  // transitions
  --transition: 0.3s;

  // fonts
  --helios-font: 'HeliosExtThin', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --open-sans-font: 'OpenSans', sans-serif;
}
