@mixin bg($bg-size: null) {
  @if $bg-size != null {
    background-size: $bg-size;
    background-position: center;
    background-repeat: no-repeat;
  }

  @else {
    @warn 'Missing argument - $bg-size.';
  }
}
